In [1]:
import pandas as pd

In [2]:
fuel_df = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]

In [4]:
A.extend(B)

In [5]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
import numpy as np

In [7]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
np.array([1,0,0],[0,1,0],[0,0,1])

ValueError: only 2 non-keyword arguments accepted

In [13]:
fuel_df.tail()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.03
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.95
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.99
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.11
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.68

In [12]:
fuel_df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [15]:
df = fuel_df[['report_year', 'fuel_cost_per_unit_delivered']]
df.head()

   report_year  fuel_cost_per_unit_delivered
0         1994                         18.53
1         1994                         18.53
2         1994                         38.12
3         1994                         45.99
4         1994                          2.77

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   report_year                   29523 non-null  int64
 1   fuel_cost_per_unit_delivered  29523 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 461.4 KB

In [18]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [19]:
fuel_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
missing = 180/29523

In [21]:
per_missing = missing *100

In [22]:
per_missing

0.609694136774718

In [25]:
fuel_df[fuel_df["report_year"]==1994].describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,1235.000000,1235.0,1.235000e+03,1235.000000,1235.000000,1235.000000,1235.000000
mean,106.120648,1994.0,2.724018e+06,10.638098,213.191996,63.636060,3.086977
std,61.637376,0.0,8.204347e+06,13.708367,2639.254133,1288.748659,13.120614
min,1.000000,1994.0,2.000000e+00,0.000006,-57.490000,-58.800000,-3.003000
25%,49.000000,1994.0,2.890950e+04,1.021000,2.667000,2.326000,1.389170
50%,115.000000,1994.0,3.484640e+05,5.686920,20.290000,13.156000,1.972000
75%,161.000000,1994.0,1.423604e+06,21.062000,35.766500,30.910000,3.003500
max,208.000000,1994.0,8.937973e+07,124.860000,44009.190000,45115.000000,443.336000

In [26]:
fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].max()

report_year
1994      45115.000
1995       2396.770
1996    7793482.000
1997    7964521.000
1998     270604.000
1999       2891.100
2000    1168000.000
2001      34381.000
2002      31416.000
2003      34518.000
2004     132884.000
2005       8651.000
2006       1431.000
2007       4850.872
2008      10490.000
2009     730166.000
2010      44033.320
2011       9545.000
2012      10129.000
2013     135315.000
2014     136410.000
2015     140706.000
2016      69440.000
2017       3584.335
2018     245652.000
Name: fuel_cost_per_unit_delivered, dtype: float64

In [34]:
fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].sum()

report_year
1994    7.859053e+04
1995    3.931506e+04
1996    1.000602e+07
1997    1.218738e+07
1998    3.178799e+05
1999    2.682921e+04
2000    1.352903e+06
2001    8.142834e+04
2002    5.735121e+04
2003    6.740849e+04
2004    1.663129e+05
2005    5.258506e+04
2006    4.805125e+04
2007    5.476283e+04
2008    7.194631e+04
2009    7.975923e+05
2010    1.158381e+05
2011    7.412059e+04
2012    7.581617e+04
2013    2.065968e+05
2014    2.256952e+05
2015    3.569033e+05
2016    1.074344e+05
2017    4.587348e+04
2018    4.748057e+05
Name: fuel_cost_per_unit_delivered, dtype: float64

In [29]:
fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].sum().max()

12187375.780000014

In [37]:
sum_fuel_burned = fuel_df.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

In [35]:
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [38]:
sum_fuel_burned.head()

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
Name: fuel_cost_per_unit_burned, dtype: float64

In [42]:
sum_fuel.iloc[0,4]

NameError: name 'sum_fuel' is not defined

In [56]:
fuel_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].min()

fuel_type_code_pudl
coal         0.00
gas          0.00
nuclear      0.00
oil          0.00
other     -119.04
waste     -276.08
Name: fuel_cost_per_unit_burned, dtype: float64

In [45]:
fuel_df['fuel_qty_burned'].skew()

15.851495469109503

In [46]:
fuel_df['fuel_qty_burned'].kurt()

651.3694501337732

In [48]:
fuel_df.corr().min()

utility_id_ferc1               -0.066946
report_year                    -0.110853
fuel_qty_burned                -0.080946
fuel_mmbtu_per_unit            -0.110853
fuel_cost_per_unit_burned      -0.037863
fuel_cost_per_unit_delivered   -0.016414
fuel_cost_per_mmbtu            -0.005884
dtype: float64

In [49]:
sum_fuel_burned.head()

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
Name: fuel_cost_per_unit_burned, dtype: float64

In [50]:
reduction = 263292.115-140238.656

In [51]:
reduction

123053.459

In [52]:
per_red=reduction/140238.656

In [53]:
per_red

0.8774574893244842